{% extends 'admin/admin_base.html.twig' %}
{% set title = "Job History"  %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    <a class="govuk-back-link" href="{{ path('admin_jobs') }}">back to list</a>

    <h1 class="govuk-heading-xl">{{ type }}</h1>
    <form>    <dl class="govuk-summary-list">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">ID</th>
                    <th scope="col" class="govuk-table__header">Started</th>
                    <th scope="col" class="govuk-table__header">Finished</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Data</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for history in pagination %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">{{ history.id }}</th>
                        <td class="govuk-table__cell">{{ history.started|date('j M Y H:i:s') }}</td>
                        <td class="govuk-table__cell">{{ history.finished|date('j M Y H:i:s') }}</td>
                        <td class="govuk-table__cell">{{ history.status }}</td>
                        <td class="govuk-table__cell">{{ history.data|nl2br }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    {% endblock %}
