<!DOCTYPE html>
<html lang="en" class="govuk-template ">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}Login
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#0b0c0c">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/images/favicon.ico" type="image/x-icon">
        <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">
        <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('adminstyles') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </head>

    <body class="govuk-template__body ">
        <script>
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        </script>
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
        {{ include('admin/admin-header.html.twig') }}
        {% block login %}
        <div class="govuk-width-container ">
            <main class="govuk-main-wrapper " id="main-content" role="main">
                <form method="post">
                    <h1 class="">Admin Area</h1>
                    <div class="govuk-form-group">
                        {% if error %}
                            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" aria-live="polite" tabindex="-1" data-module="govuk-error-summary">
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        <li>
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="alert alert-danger"></div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            {% if app.user %}
                                <div>
                                    You are logged in as
                                    {{ app.user.email }},
                                    <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="inputEmail">
                                Email
                            </label>
                            <input class="govuk-input" value="{{ last_username }}" name="_inputEmail" id="inputEmail" class="form-control" autocomplete="email" required autofocus type="email">
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="inputPassword">
                                Password
                            </label>
                            <input class="govuk-input" type="password" name="_inputPassword" id="inputPassword" autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="govuk-form-group">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" name="_remember_me" type="checkbox" id="_remember_me">
                                <label class="govuk-label govuk-checkboxes__label" for="_remember_me">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="govuk-form-group">
                            <button class="govuk-button" type="submit">
                                Sign in
                            </button>
                        </div>
                    </div>
                </form>
                <a href="{{ path('app_forgot_password_request') }}">Forgot password?</a>
            </main>
        </div>
        {% endblock %}
    </body>
    <!--
                              - GOVUK Frontend used inline with Open Government License v3: https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/
                              - GOVUK Frontend: https://frontend.design-system.service.gov.uk/
                            -->
</html>
